.button {
  box-sizing: border-box;
  border: none;
  box-shadow: 0 2px 10px 0 rgba(54, 53, 53, 0.7);
  height: 1.5rem;
  width: 5rem;
  background-color: var(--primary);
  font-family: "Lato";
  font-weight: 500;
  color: #fafafa;
}

.button:focus {
  box-shadow: 0 1px 5px 0 rgba(54, 53, 53, 0.7);
}

.button--cancel {
  background-color: var(--warning);
}

.button--disabled {
  background-color: #a0a0a0;
  color: #fafafa;
}

.button--alert {
  background-color: var(--alert);
  color: #fafafa;
}
