@import "https://fonts.googleapis.com/css?family=Lato";

* {
  --primary: #0076cc;
  --secondary: #ffd934;
  --success: #3adb76;
  --warning: #ffae00;
  --alert: #cc4b37;
}

.App {
  font-family: "Lato";
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
}

.font-lato {
  font-family: "Lato";
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
}
